<div>
  
  <label>Meses</label>
    <select [(ngModel)] = "mesSelected" (ngModelChange)="filtroMes($event)" >
        <option selected>Todos</option>
        <option *ngFor="let mes of meses" >
            <span>{{mes}}</span>
          </option>
        </select>
       
          <label>Alunos</label>
      <select [(ngModel)] = "alunoSelected" (ngModelChange)="filtroAluno($event)">
          <option>Todos</option>
          <option *ngFor="let aluno of alunos"  [ngValue]='aluno'>
            <span>{{aluno.nome}}</span>
          </option>
         </select>

</div>

<ul>
  <li *ngFor="let relatorio of relatorios">
    <span>Nome: </span><strong>{{relatorio.nome}} </strong>
    <span>Matricula: </span><strong>{{relatorio.matricula}} </strong>
    <span>Somatorio: </span><strong>{{relatorio.somatorioH}} </strong>
    <span>Entrada: </span><strong>{{relatorio.entrada}} </strong>
    <span>Saida: </span><strong>{{relatorio.saida}} </strong>
  
    </li>
</ul>

<div>
  <button (click)="voltarTelaAdmin()">Voltar</button>
</div>