<div>
  <label>Meses</label>
    <select>
        <option>Todos</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        <option>Janeiro</option>
        </select>
        <label>Alunos</label>
        <select>
            <option>Todos</option>
            <option>Aluno 1</option>
           </select>
</div>

<ul>
  <li *ngFor="let relatorio of relatorios">
    <span>Nome: </span><strong>{{relatorio.nome}}</strong>
    <span>Matricula: </span><strong>{{relatorio.matricula}}</strong>
    <span>Somatorio: </span><strong>{{relatorio.somatorioH}}</strong>
    <span>Entrada: </span><strong>{{relatorio.entrada}}</strong>
    <span>Saida: </span><strong>{{relatorio.saida}}</strong>
  
    </li>
</ul>

<div>
  <button (click)="voltarTelaAdmin()">Voltar</button>
</div>