<div>
    <div id="table_main">
        <!-- TABELA ALUNOS -->
        <table class="container">
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th colspan="3">Operações</th>
            </tr>

            <tr *ngFor="let aluno of alunos">
                <td>{{aluno.matricula}}</td>
                <td [class.aluno_nome]="true">{{aluno.nome}}</td>
                <td><button (click)="atualizar(aluno)" > Editar </button> </td>
                <td><button (click)="remover(aluno)" > Remover </button></td>
                <td> <button (click)="AbrirTelaRelatorio()"> Consultar </button> </td>
            </tr>
        </table>
    </div>

    <!--  BOTÕES: CADASTRAR, SAIR, RELATÓRIO -->
    <br>
    <div id="control_buttons">
        <div>
            <button id="btn_cadastrar" (click)="isCadastroOn = !isCadastroOn; novoAlunoForm.reset()"> Novo Cadastro </button>
            <!-- Testando pra ver se eu realmente preciso de [hidden]. Pitt tava usando por algum motivo, então vou deixar aí -->
            <!-- <button id="btn_relatorio" [hidden]="isCadastroOn" (click)="AbrirTelaRelatorio()"> Relatorio </button><br> -->
            <button id="btn_relatorio" (click)="AbrirTelaRelatorio()"> Relatorio </button><br>
            <button id="btn_logout"  (click)="logout()"> Sair</button>
        </div>
    </div>

<!-- TELA: CADASTRO NOVO ALUNO -->
<div id="cadastro" *ngIf="isCadastroOn">
    <br>
    <form (ngSubmit)="inserir()" [formGroup]="novoAlunoForm">

        <!-- <div style="display:flex;">
          <input type="number"
            placeholder="Matrícula" 
            [(ngModel)]="userLogin" 
            name="ulogin" 
            #matricula="ngModel"
            required >
      
          <div *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)"> Login required ! </div>
        </div>
        
        <div style="display:flex;">
          <input type="password"
            placeholder="Senha" 
            [(ngModel)]="userPass" 
            name="upass" 
            #pass="ngModel"
            required>
          
          <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"> Password required ! </div>
        </div>
         -->
         <!-- MATRICULA -->
        <div style="display:flex;">
            <input type="number"
                placeholder="Matrícula" 
                formControlName="matricula"
                required 
            >
      
          <!-- <div *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)"> Login required ! </div> -->
            <div 
                *ngIf="novoAlunoForm.controls['matricula'].invalid && (novoAlunoForm.controls['matricula'].dirty ||novoAlunoForm.controls['matricula'].touched)"> 
                    Matricula required ! 
          </div>
        </div>
        
         <!--NOME -->
        <div style="display:flex;">
            <input type="text"
                placeholder="Nome" 
                formControlName="nome"
                required
            >
              
            <!-- <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"> Password required ! </div> -->
            <div 
                *ngIf="novoAlunoForm.controls['nome'].invalid && (novoAlunoForm.controls['nome'].dirty ||novoAlunoForm.controls['nome'].touched)"> 
                    Name required ! 
            </div>
        </div>

        <!-- SENHA -->
        <div style="display:flex;">
            <input type="password"
                placeholder="Senha do Aluno" 
                formControlName="password"
                required
            >
          
          <!-- <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"> Password required ! </div> -->
          <div 
            *ngIf="novoAlunoForm.controls['password'].invalid && (novoAlunoForm.controls['password'].dirty ||novoAlunoForm.controls['password'].touched)"> 
                Passoword required ! 
          </div>
        </div>
        
      
        <!-- <button (click)="matricula(); loginForm.reset()">Button</button> -->
        <!-- <button type="submit" [disabled]="!loginForm.form.valid">Submit</button> -->
        <button type="submit" [disabled]="!novoAlunoForm.valid">Cadastrar</button>
    </form>
</div>


