<div>
  <div>
    <ul class="users">
        <li *ngFor="let user of users">
        <span>{{user.matricula}}</span> 
        <span>{{user.nome}}</span>
        <button (click)="atualizar(user)" > Editar </button>
        <button (click)="remover(user)" > Remover </button>
        <button> Consultar </button>
        </li>
    </ul>
  </div>

  <div>
      <div>
      <button (click)="AbrirTelaCadastro()"> Novo Cadastro </button>
      <button (click)="VoltarTelaLogin()"> Sair</button>
    </div>
      <div [hidden]="cadastrarOff">
          <button (click)="AbrirTelaRelatorio()"> Relatorio </button>
      </div>
  </div>

  <div [hidden]="!cadastrarOff">
    <label>Novo Aluno</label>
    <div>
        <div>
            <label>Nome</label>
        </div>
        <input id="input_nome" [(ngModel)]="Nome" type="text">
    </div>
    <div>
        <div>
            <label>Matricula</label>
        </div>
        <input id="input_matricula" [(ngModel)]="Matricula" type="number">
    </div>
    <div>
      <div>
          <label>Senha</label>
      </div>
        <input id="input_senha" [(ngModel)]="Senha" type="password">
    </div>
      
    <div>
        <button (click)="inserir(Nome,Matricula,Senha)"> Confirmar </button>
        <button (click)="FecharTelaCadastro()"> Cancelar Cadastro </button>
    </div>
    
  </div>
</div>


