
<!-- OLD FORM <<DEPRECATED>> -->
<div *ngIf="false">
  <h1 *ngIf="true"> User Login</h1>
  <div> Qualquer valor serve pra logar (DEV)</div>
  <br>
  <!-- <input placeholder="login" (keyup.enter)="foo(box)" required [(ngModel)]="userLogin"> <br> -->

  <!-- <form (ngSubmit)="onSubmit()" #loginForm="ngForm"> -->
  <form (ngSubmit)="onSubmit()" [formGroup]="userLoginForm">

    <!-- <div style="display:flex;">
      <input type="number"
        placeholder="Matrícula" 
        [(ngModel)]="userLogin" 
        name="ulogin" 
        #login="ngModel"
        required >

      <div *ngIf="login.invalid && (login.dirty || login.touched)"> Login required ! </div>
    </div>
    
    <div style="display:flex;">
      <input type="password"
        placeholder="Senha" 
        [(ngModel)]="userPass" 
        name="upass" 
        #pass="ngModel"
        required>
      
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"> Password required ! </div>
    </div>
    -->
    <div style="display:flex;">
      <input type="number"
        placeholder="Matrícula" 
        formControlName="login"
        required
        appFocus >

      <!-- <div *ngIf="login.invalid && (login.dirty || login.touched)"> Login required ! </div> -->
      <div 
      *ngIf="userLoginForm.controls['login'].invalid && (userLoginForm.controls['login'].dirty ||userLoginForm.controls['login'].touched)"> 
        Login required ! 
      </div>

    </div>
    
    <div style="display:flex;">
      <input type="password"
        placeholder="Senha" 
        formControlName="password"
        required>
      
      <!-- <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"> Password required ! </div> -->
      <div 
      *ngIf="userLoginForm.controls['password'].invalid && (userLoginForm.controls['password'].dirty ||userLoginForm.controls['password'].touched)"> 
        Passoword required ! 
      </div>
    </div>
    

    <!-- <button (click)="login(); loginForm.reset()">Button</button> -->
    <!-- <button type="submit" [disabled]="!loginForm.form.valid">Submit</button> -->
    <button type="submit" [disabled]="!userLoginForm.valid">Submit</button>

  </form>

  <!-- <div> Login: {{userLogin}}</div>
  <div> Password: {{userPass}}</div> -->
  <router-outlet></router-outlet>
</div> <!-- END OLD FORM-->

                                                <!-- ENTRADA APLICAÇÃO -->

<div id="container" *ngIf="true">
  <div class='brand'>
    <a href='http://www2.c3.unicap.br/' target='_blank'>
      <!-- <img src='./assets/unicap.png'> -->
      <img src='./assets/unicap.png'
        onmouseover="this.src='./assets/unicap-hover.png'"
        onmouseout="this.src='./assets/unicap.png'"
        alt=""/>
    </a>
  </div>

<!-- Entrada para o Login Form -->
<div class='login'>
  <div class='login_title'>
    <span>Ponto Residência</span>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="userLoginForm">

    <div class='login_fields'>

      <div class='login_fields__user'>
        <div class='icon'>
          <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
        </div>

        <!-- User Login -->
        <input 
          appFocus 
          #user 
          placeholder='Matrícula' 
          type='number' 
          (keyup.enter)="onSubmit()" 
          formControlName="login"
          >
          
          <div class='validation'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
          
          </div>
      </div>

        <!-- User Password -->
      <div class='login_fields__password'>
        <div class='icon'>
          <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
        </div>
        <input placeholder='Senha' type='password' formControlName="password">

        <!-- <div class='validation'>
          <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
        </div> -->
      </div>

      <div class='login_fields__submit'>
        <!-- <button type='submit' value='Entrar'> Entrar </button> -->
        <input type='submit' value='Entrar'>
        <!-- TODO: FUTURO -->
        <!-- <div class='forgot'>
          <a href='#'>Forgotten password?</a>
        </div> -->
      </div>

    </div> <!-- End login_fields -->
  </form>

  <!-- Créditos: Jamie Coulter -->
  <!-- <div class='love'>
    <p>Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /> by <a href='https://www.jamiecoulter.co.uk'
        target='_blank'> Jcoulterdesign </a></p>
  </div> -->
<!-- 
  <div class="disclaimer">
    <p id="dev">Qualquer valor serve pra logar</p> <br><br>
    <p id="dev2">(DEV)</p>
  </div> -->

</div> <!-- End container -->

<!-- info_msg_type = 'info_error' | 'info_warn' | 'info_suscess' -->
<div id='info_container' *ngIf='info_msg'>
  <div [class]='info_msg_type'>
    {{info_msg}}
  </div>
</div>

<router-outlet></router-outlet>
