/* Créditos a Jamie Coultier - Login Box Concept */

@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

/* DESSATIVADO */
.body {
  perspective: 800px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Gudea", sans-serif;

  background: #EA5C54;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #EA5C54), color-stop(100%, #bb6dec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#EA5C54 ", endColorstr="#bb6dec",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */

 
}

  /* ESSE É BONITÃO */
body {
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0); 
  background-attachment:fixed; /* ESSA PORRA FAZ MÁGICA */
}

body ::-webkit-input-placeholder {
  color: #4E546D;
}

#info_container {
  /* width: 100%; */
  margin-top: 2px;
  background: transparent;
  transition-property: background, color;
  transition-duration: 0.2s;
  text-align: center;
  background-color:#1F2739;
  overflow: hidden;
  position: relative;
}

#info_container .info_success {
  padding: 10px 10px !important;
  color:green !important;
  border: 1px solid green;
}

#info_container .info_warn {
  padding: 10px 10px !important;
  color:yellow !important;
  border: 1px solid yellow !important;
}

#info_container .info_error {
  padding: 10px 10px !important;
  color:red !important;
  border: 1px solid red !important;
}